body {
        font-family: "Roboto";
        line-height: 1.5;

        background-color: #EEEEE;
        color: #203a8f; 

        padding: 60px 64px 0;
    }

h2 {
    font-size: 32px;
    line-height: 1.2;
    text-align:center;
    }

a  {
    text-decoration: none;
    color: #203a8f;
    }
}
