/* CSS HEX */
:root {
--slate-gray: #6b717eff;
--lavender-pink: #efaac4ff;
--electric-blue: #53f4ffff;
--misty-rose: #ffe8e1ff;
--alabaster: #d4dccdff;
}

/* Fonts */
.kdam-thmor pro-regular {
    font-family: "Kdam Thmor Pro", sans-serif;
    font-weight: 400;
    font-style: normal;
  }  
/* Overall */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Body */
body {
    display: flex;
    flex-direction: column;
    background-color: var(--lavender-pink);
    justify-content: start;
    align-items: center;
    font-family: "Kdam Thmor Pro", sans-serif;
    font-size: medium;
    line-height: 1.5;
}
/* Header */
.header {
    background-color: var(--alabaster);
    height: 10dvh;
    width: 100%;
    text-align: right;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    color: var(--charcoal);
}

/* Logo */ 
#logo {
    font-size: 1.2em;
    font-weight: 600;
 }

/* Navigation */
nav {
    display:flex;
    justify-content: space-between;
    align-items: center;
    font-weight: lighter ;
    padding: 1em;
}

nav a {
    text-decoration: none;
    color: black;
}

input[type="checkbox"]{
    appearance: none; 
}

label {
    display:none;
    cursor: pointer;
}

ul {
    list-style:none;
    display: flex;
    gap: 0em;
}

ul a {
    padding: 0.5em;
    text-decoration: none;
    color: black;
}

ul a:hover {
    text-decoration: underline;
}

/* Responsive/Mobile Navigation */

@media screen and (max-width: 600px) {
    label {
        display:block;
    }
    ul {
        font-size: 1.2em;
        position: absolute;
        left:-100%;
        flex-direction: column;
        align-items:end;
        justify-content: start;        
        background-color: var(--electric-blue);
        gap: 0em;
        top: 60px;
        width: 100%;
        height: calc(100vh - 60px);
        transition: 0.5s;
    }
    input[type="checkbox"]:checked ~ ul {
        left:0;
    }
    ul a:hover {
        background-color: (var(--electric-blue));
    }
}

#plus-icon {
    margin: auto 0;
    display: none;
    cursor: pointer;
    font-weight: bolder;
}

/* Main */
main {
    min-height: 85dvh;
    width: 100dvw;
    display: flex;
    justify-content: left;
    align-items: left;
}

main > *{
    margin: 1em;
}

main > img {
    height: 20dvh;
    width: 50dvw;
    margin: 2em;
    background-color:var(--french-rose) ;
    color: var(--ultra-pink);
    object-fit: cover;
}

/* Call to Action */

.calltoaction {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
}

/* Form */

form {
    width: 100%;
}

/* Buttons */

.button {
    border-radius: 0em;
    border: 1px solid;
    transition-duration: 0.4s;
    width: 100%;
    background-color: var(--misty-rose);
    font-size: medium;
    font-weight: lighter;
    text-align: center;
    padding: 14px 40px;
    font-family: "Kdam Thmor Pro", sans-serif;
}

.button:hover {
 background-color: var(--electric-blue) ;
}

/*.container { 

}

.wrapper {

}
/* Footer */
footer {
    background-color: var(--misty-rose);
    height: 12dvh;
    width: 100dvw;
    display: flex;
    margin-top: auto;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 2dvh;
}

/*.copyright {
}

.updateStatement {
}



